@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$green: #27000f;
$orange: #d26a22;
$wt: #fff;

$font-jost:"Jost", sans-serif;
$font-cormorant:"Cormorant", serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap:4.8rem;
    }
    &__link {
        font-size: 1.6rem;
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-size: 1.6rem;
        font-weight: 500;
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }

    }
    &__cart {
        position: relative;
        display: block;
        background-color: $orange;
        background-image: url('../images/cart.svg');
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: 1.7rem 1.5rem;
        border: 1px solid $orange;
        width: 3.8rem;
        height: 3.8rem;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        position: absolute;
        color: $wt;
        font-size: .8rem;
        right: .8rem;
        top: .6rem;
    }
}

.logo {
    display: block;
    background-image: url('../images/logo.svg');
    width: 120px;
    height: 32px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-image: url('../images/main_bg.png');
    background-size: cover;
    background-position: center;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
    }
    &__link {
        margin-top: 6rem;
    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    color: $green;
    &__span {
        font-style: italic;
    }
    &--block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    &--size-s {
        font-size: 1.8rem;
    }
}

.link {
    color: $wt;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
}
