@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$green: #27000f;
$orange: #d26a22;
$wt: #fff;

$font-jost:"Jost", sans-serif;
$font-cormorant:"Cormorant", serif;

$circle-btn: false;

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
}

.header {
    max-width: 1440px;
    margin: 0 auto 47px;
    padding: 4rem 0px 0 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap:4.8rem;
        margin-right: 246px;
    }
    &__link {
        font-size: 1.6rem;
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: $green;
        text-decoration: none;
        margin-right: 82px;
        &:hover {
            color: $orange;
        }

    }
    &__cart {
        position: relative;
        display: block;
        background-color: $orange;
        background-image: url('../images/cart.svg');
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-size: 1.7rem 1.5rem;
        border: 1px solid $orange;
        width: 3.8rem;
        height: 3.8rem;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        position: absolute;
        color: $wt;
        font-size: .8rem;
        right: .8rem;
        top: .6rem;
    }
}

.logo {
    display: block;
    background-image: url('../images/logo.svg');
    width: 120px;
    height: 32px;
    margin-right: 120px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url('../images/main_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    &__item {
        margin-left: 12rem;
        max-width: 378px;
    }
    &__link {
        margin-top: 6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        gap:30px;
    }
    &__cover {
        flex-basis:763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
        box-shadow: 5px 15px 31px 0px rgba(39, 0, 15, 0.3);
        border-radius: 100%;
    }
    &__btn-text {
        cursor: pointer;
        position: absolute;
        line-height: 2rem;
        &:hover + .main__btn-cover {
            border: 1px solid $orange;
            .main__btn {
                background-color: $orange;
            }
        }
        &--1 {
            top: 48px;
            left:64px;
        }
        &--2 {
            top:197px;
            right: 4px;
        }
        &--3 {
            bottom: -47px;
            right: 245px;
        }
    }
    &__btn-span {
        color: rgba($green, 0.8);
        display: block;
    }
    &__btn-cover {
        border:1px solid $green;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            border: 1px solid $orange;
            .main__btn {
                background-color: $orange;
            }
        }
        &--1 {
            top: 65px;
            left: 144px
        }
        &--2 {
            top:208px;
            right: 87px;
        }
        &--3 {
            bottom: 2px;
            right: 272px;
        }
    }
    &__btn {
        cursor: pointer;
        border: none;
        padding: 0;
        background-color: $green;
        width: 11px;
        height: 11px;
        border-radius: 100%;
    }
    &__tomato {
        position: absolute;
        top:840px;
        right: 116px;
        width: 11rem;
    }
    &__avocado {
        position: absolute;
        top: 48px;
        right: -3px;
        width: 17.4rem;
    }
    &__cucumber {
        position: absolute;
        top: 0px;
        left: 686px;
        width: 85px;
    }
    &__pepper {
        position: absolute;
        top: 397px;
        left: 32px;
        width: 9rem;
    }
    &__beans {
        position: absolute;
        top:800px;
        left: -4px;
        width: 11rem;
    }
}

.title {
    margin: 0;
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    color: $green;
    margin-top: 187px;
    line-height: 83px;
    margin-bottom: 61px;
    &__span {
        font-style: italic;
    }
    &--block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    margin-bottom: 80px;
    &--size-s {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    &--size-m {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
}

.link {
    margin: 0;
    color: $wt;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    letter-spacing: 1px;
}

.offer {
    background-image: url('../images/background_2_sreen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 200px;
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
}

.swiper {
    &-slide {
        
    }
}
